.wrapper {
  width: 877px;
  height: 112px;
  background-color: white;
  border-radius: 6px;
  margin-right: 56px;
  margin-top: 25px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 20rem;
    margin-right: 0px;
  }
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
  padding-left: 52px;
  padding-bottom: 16px;
  margin: 0px;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #0064eb;
  padding-left: 52px;
  padding-top: 24px;
  padding-bottom: 16px;
  margin: 0px;
}
.title a {
  text-decoration: none;
}
