
.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.li {
  text-align: center;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
}
