.header {
  background-color: #0064eb;
}

.wrapper {
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

label {
  position: relative;
}

label:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(./search.svg) center / contain no-repeat;
}

.input {
  width: 500px;
  border-radius: 6px;
  border: none;
  padding: 13px 44px;
  outline: none;
}


.logo {
  margin-left: 41px;
  margin-right: 22px;
  width: 40px;
  height: 40px;
}



@media screen and (max-width: 1000px) {
  .input {
    width: 15rem;
  }
}
